
@import "bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&display=swap');
$bg-primary: linear-gradient(to right, #003c7f, #2750f5);
$bg-color: #0e1a2c;
$bgcolor:rgb(0, 119, 255);

*{
  margin: 0;
  padding: 0;
}
//App css
.App{
  min-height: 100vh;
  background-color: $bg-color;
  overflow-x: hidden;
  font-family: Calibri;
}
//Header css
.header{
  width: 100%;
  height: 74px;
 // background-color: $bg-color;
  margin: 0%;
  display: flex;
  position: fixed;
  align-items: center;
  z-index: 1000;
  &--logo{
    margin-left: 3em;
    @media screen {
      width: 350px;
    }
  }
  &_li{
    &_logo{
      position: fixed;
      bottom: 2rem;
      right: 2rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 1000;
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    margin-right: 4rem;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: $bgcolor;
    border:1px solid $bgcolor;
  }
}
//Footer css
.footer{
  &--header{
    background-color: #150258;
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
  }
  &__golomtlogo{
     margin-left: 4em;
  }
  &--email{
    color: #ffffff;
  }
  ul{
    display: flex;
  }
  li{
    list-style-type:none;
    color: #ffffff;
    margin-left: 2em;
    display: flex;
    label,a {
      margin-left: 1em;
    }
  }
  &--socials{
    display: flex;
    justify-content: center;
    
    min-width: 100%;
    height: 20vh;
    a{
      width: 50px;
      height: 50px;
      border: 1px solid darkgray;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2rem;
    }
  }
}
//Face css
.face{
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 100vh;
  background-image: url('./logo/students.jpg');
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.8;
  label{
    font-size: 100px;
    opacity: 1;
    //background-attachment: fixed;
    text-shadow: 4px 5px 5px rgba(0,0,0,0.50);
    overflow-y: hidden;
    position: absolute;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Montserrat';
    font-weight: 900;
    z-index: -10;
  }
  // width: 500px;
  // height: 500px;
  //z-index: 100;
}
.face::before {
  content: '';
  background: linear-gradient(to top, $bg-color, transparent);
  bottom: 0;
  width: 100%;
  height: 20px;
  position: absolute;
}
//Home css
.home{
  display: flex;
  z-index: 10000;
  flex-direction: column;
  align-items: center;
  //height: 100vh;
  &__intern2k22{
    color: #ffffff;
    margin: 3em 6em;
    &--title{
      font-weight: 900;
      text-align: center;
    }
    &--description{
      padding: 1em;
      margin-top: 6em;
      background-color: #eee;
      color: #333;
      border-radius: 10px;
      //box-shadow: 10px 10px 10px -10px rgba(255, 255, 255, 0.5);
      box-shadow: 10px 8px 15px -60px rgba(255, 255, 255,0.3);
    }
    &--label{
      text-indent: 10%;
      color: black;
    }
    &--holder{
      margin-top: 3em;
    }
    &--img{
      width: 500px;
      border-radius: 10px;
    }
  }
}
//Event css
.event{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
  // background-image: url("../src/logo/bg-image.jpg");
  // background-size:100%;
  // background-repeat: no-repeat;
  &__intern2k22{
    &--label{
      margin-top: 0;
      margin-right: 5em;
      width: 500px;
      color: #ffffff;
      &--content{ 
        text-align: justify;
        label{
          text-indent: 10%;
          padding: 1rem;
          border-radius: 10px;
          box-shadow: 10px 8px 15px -10px rgb(255, 255, 255,0.5);
        }
      }
    }
  }
  &--content{
    margin-top: 2em;
    margin-left: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &--logo{
    border-radius: 10px;
    width: 500px;
    box-shadow: 10px 12px 18px -6px rgba(0, 187, 255, 0.3);
  }
}
//label css
.label{
  height: 100vh;
  // background-image: url('./logo/bg-image2.jpg');
  background-size: 100%;

  &--content{
      h2{
        color: rgb(253, 253, 255);
      }
      label{
        text-indent: 20px;
        margin-bottom: 1rem;
        padding: 1em;
        color: rgb(239, 231, 231);
        background-color: rgba(0, 0, 0,0.1);
        border-radius: 10px;
        width: 30vw;
      }
      & > div:nth-child(1){
        width: 30vw;
        position: absolute;
        top:5%;
        left: 5vw;
      }
      & > div:nth-child(2){
        width: 30vw;
        position: absolute;
        top:35%;
        left: 50vw;
      }
      & > div:last-child{
        width: 30vw;
        position: absolute;
        top:60%;
        left: 20vw;
      }
    
  }
}
//Intern css
.intern{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  h1{
    color: #ffffff;
  }
}
.box{
  &--holder{
    border-radius: 10px;
    margin: 1em;
    width: 20vw;
    @media screen {
      margin: inherit;
    }
  }
}
.card{
  margin: 1em;
  box-shadow: 5px 12px 18px -6px rgba(0, 0, 0, 0.689);
  &__one{
    height: 15vh;
    background-color: rgb(224, 41, 99);
  }
  &__two{
    height: 45vh;
    background-color: rgb(55, 33, 224);
  }
  &__three{
    height: 45vh;
    background-color: purple;
  }
  &__img{
    width: 10vw;
    height: 25vh;
    margin-top: 1em;
    background-color: rgba(53, 50, 50, 0.5);
    border-radius: 5px;
  }
}