@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Nunito:wght@400;500;600;700;800;900&display=swap");
$bg-primary: linear-gradient(to right, #003c7f, #2750f5);
$bg-color: rgb(14, 26, 44);
$bgcolor: rgb(0, 119, 255);
$arrow: #3c376f;
$bg: #fef8f9;

* {
  margin: 0;
  padding: 0;
}
//App css
// .App video{
//   position: absolute;
//   width: 100%;
//   z-index: -1;
// }
video {
  position: fixed;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
  right: 0;
  bottom: 0;
  object-fit: contain;
}
.App {
  width: 100%;
  min-height: 100%;
  background-color: $bg-color;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Nunito";
}
//Header css
.removeNav {
  transform: translateY(-100px);
}
.header {
  transition: transform 0.3s ease-in;
  width: 100%;
  height: 74px;
  font-family: "Nunito";

  // background-color: $bg-color;
  margin: 0%;
  display: flex;
  position: fixed;
  align-items: center;
  z-index: 1000;
  scroll-behavior: smooth;
  font-size: 1.3rem;
  font-family: "Montserrat";
  &--logo {
    margin-left: 3em;
    cursor: pointer;
    @media screen {
      width: 350px;
    }
  }
  &_li {
    &_logo {
      position: fixed;
      bottom: 2rem;
      right: 2rem;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;
      z-index: 1000;
      transition: transform 0.1s ease-in;
    }
    &_logo:hover {
      transform: scale(1.1);
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    margin-right: 2rem;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  li {
    float: left;

    .bi-heart {
      color: white;
      //margin-left: 0.5em;
      //top:36%;
      right: 0%;
      margin-left: 0.5em;
      //position: absolute;
      transition: all 0.2s ease-in-out;
    }
    .bi-heart-active {
      animation-name: heartBeat;
      animation-duration: 0.3s;
      animation-iteration-count: infinite;
    }
    @keyframes heartBeat {
      0% {
        transform: scale(1.05);
      }
      100% {
        transform: scale(1);
      }
    }
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    position: relative;
    font-family: "Nunito";
    font-weight: 600;
  }
  li a:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    display: block;
    transition: all 0.3s ease;
    bottom: 20%;
    border-radius: 5px;
  }

  li a:hover:after {
    width: 75%;
    height: 3px;
    border-radius: 5px;
    background-color: #fff;
  }
  a.active:after {
    width: 75%;
    height: 3px;
    border-radius: 5px;
    background-color: #fff;
  }
}

//Footer css
.footer {
  //position: absolute;
  opacity: 0.7;
  &--header {
    background-color: #150258;
    width: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    z-index: 1000;
  }
  &__golomtlogo {
    margin-left: 4em;
    margin-right: 2em;
  }
  ul {
    display: flex;
  }
  li {
    list-style-type: none;
    display: flex;
    label,
    a {
      color: #ffffff;
      margin-left: 1em;
    }
  }
  &--socials {
    display: flex;
    justify-content: center;
    min-width: 100%;
    a {
      width: 50px;
      height: 50px;
      color: #ffffff;
      border: 1px solid rgb(1, 1, 255);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2rem;
    }
  }
}
//Face css
.face {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./logo/students.jpg");
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.9;
  label {
    font-size: 100px;
    text-align: center;
    //background-attachment: fixed;
    //text-shadow: 6px 6px 5px rgba(0,0,0,0.50);
    text-shadow: 0.1em 0.1em 0 rgba(14, 26, 44, 1);
    overflow-y: hidden;
    position: absolute;
    color: rgba(255, 255, 255, 1);
    font-family: "Montserrat";
    font-weight: 900;
    animation-name: changeOpac;
    //animation-name: flashText;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-delay: 3s;
    @media screen and (max-width: 700px) {
      font-size: 50px;
    }
  }

  .scroll-downs {
    position: absolute;
    bottom: 100px;
    margin: auto;
    width: 34px;
    height: 55px;
  }
  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% {
      opacity: 0;
    }
    10% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(15px);
      opacity: 0;
    }
  }
  @keyframes changeOpac {
    0% {
      color: rgba(255, 255, 255, 1);
      text-shadow: 0.1em 0.1em 0 rgba(14, 26, 44, 1);
    }
    50% {
      color: rgba(255, 255, 255, 0.3);
      text-shadow: 0.1em 0.1em 0 rgba(14, 26, 44, 0.3);
    }
    80% {
      color: rgba(255, 255, 255, 0.3);
      text-shadow: 0.1em 0.1em 0 rgba(14, 26, 44, 0.3);
    }
    100% {
      color: rgba(255, 255, 255, 1);
      text-shadow: 0.1em 0.1em 0 rgba(14, 26, 44, 1);
    }
  }
  @keyframes flashText {
    0% {
      text-shadow: 0.07em 0.07em 0 hsl(200 50% 30%);
    }
    50% {
      text-shadow: 0.1em 0.1em 0 hsl(200 50% 30%);
    }
    100% {
      text-shadow: 0.07em 0.07em 0 hsl(200 50% 30%);
    }
  }
  // width: 500px;
  // height: 500px;
  //z-index: 100;
}
.face::before {
  content: "";
  background: linear-gradient(to top, black, transparent);
  bottom: 0;
  width: 100%;
  height: 20px;
  position: absolute;
}
//Home css
.home {
  display: flex;
  //z-index: 10000;
  flex-direction: column;
  align-items: center;
  //height: 100vh;
  &__intern2k22 {
    color: #ffffff;
    margin: 3em 6em;
    &--title {
      font-weight: 900;
      text-align: center;
    }
    &--description {
      padding: 1em;
      margin-top: 6em;

      //background-color: rgba(255, 255, 255);
      color: #ffffff; //rgb(5, 66, 198);
      border-radius: 10px;
      //box-shadow: 10px 10px 10px -10px rgba(255, 255, 255, 0.5);

      //transform: translateX(50px) !important;
      h2 {
        font-weight: 800;
      }
    }
    &--label {
      text-indent: 10%;
      font-size: 18px;
      color: white; //rgb(68, 57, 221);
      font-weight: 700;
      text-align: justify;
      width: 80%;
    }
    &--holder {
      margin-top: 3em;
    }
    &--img {
      width: inherit;
      border-radius: 10px;
      box-shadow: 10px 13px 15px -5px rgba(0, 0, 250, 0.3);
    }
  }
  @media screen and (max-width:1100px) {
    &__intern2k22{
      display: block;
      margin: 1em;
      &--label{
        width: 100%;
      }
    }
  }
  @media screen and (max-width:600px) {
    &__intern2k22{
      &--label{
        font-size: small;
        //background-color: #155493;
      }
    }
  }
  //   .arrow{
  //     /* Line 8 */

  // position: absolute;
  // width: 459.05px;
  // height: 483.56px;
  // left: 654.3px;
  // top: 548.09px;
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  // transform: rotate(37.5deg);

  //   }
}
//Event css
.event {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
  // background-image: url("../src/logo/bg-image.jpg");
  // background-size:100%;
  // background-repeat: no-repeat;
  &__intern2k22 {
    margin: 0em 6em;
    &--label {
      padding: 0%;
      width: inherit;
      color: #ffffff;
      &--content {
        //text-align: justify;

        label {
          width: 80%;
          margin-bottom: 50px;
          text-indent: 10%;
          padding: 1rem;
          border-radius: 10px;
          font-size: 18px;
          text-align: justify;
          font-weight: 700;
          margin-left: 80px;
          //box-shadow: 10px 8px 15px -10px rgb(255, 255, 255,0.5);
        }
      }
    }
  }
  @media screen and (max-width:1100px) {
    &__intern2k22{
      display: block;
      margin: 1em;
    }
    label{
      width: 100%;
      margin: 0%;
    }
    &--content{
      margin-bottom: 2rem;
    }
  }
  @media screen and (max-width:600px) {
    &__intern2k22{
      label{
        font-size: small;
      }
    }  
  }
  &--content {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //padding: 0%;
  }
  &--logo {
    border-radius: 10px;
    width: inherit;
    box-shadow: 10px 13px 15px -5px rgba(0, 187, 255, 0.4);
  }
}
//icons css
.icons {
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  &-ft {
    border-radius: 50%;
    color: #ffffff;
    padding: 5px;
    background-color: rgba(0, 35, 162, 0.7);
  }
  &-ft:hover {
    background-color: #0033ff;
    opacity: 1 !important;
    //border-color:#2750f5 ;
  }
}
.icons:hover {
  background-color: #2750f5;
  border-color: #2750f5;
}
//label
.label {
  height: 100vh;
  // background-image: url('./logo/bg-image2.jpg');
  background-size: 100%;
  font-family: "Nunito";
  margin-top: 50px;
  &--content {
    h2 {
      color: rgb(253, 253, 255);
      font-size: calc(1.5rem + 0.9vw);
      font-weight: 900;
    }
    label {
      text-align: justify;
      font-size: 1.2rem;
      text-indent: 20px;
      padding: 1em;
      color: rgb(239, 231, 231);
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      width: 30vw;
      font-weight: 800;
    }
    
    & > div:nth-child(1) {
      //width: 30vw;
      position: absolute;
      top: 5%;
      left: 5vw;
    }
    & > div:nth-child(2) {
      width: 40vw;
      position: absolute;
      top: 35%;
      left: 55vw;
    }
    & > div:last-child {
      //width: 40vw;
      position: absolute;
      top: 60%;
      left: 20vw;
    }
    @media screen and (max-width: 1200px) {
      & > div:nth-child(2) {
        position: absolute;
        margin-right: 2em;
        top: 30%;
      }
      & > div:last-child {
        //width: 40vw;
        position: absolute;
        top: 65%;
      }
    }
  }
  
}
@media screen and (max-width:1050px) {
  .label{
    height: 100%;
    &--content{
      display: block;
      margin-left: 1em;
      label{
        width: 90%;
      }
      
      & > div:nth-child(1){
        width: 100%;
        position: relative;
        margin-bottom: 1em;
        top:0;
        left:0;
      }
      & > div:nth-child(2){
        width: 100%;
        position: relative;
        margin-bottom: 1em;
        top:0;
        left:0;
      }
      & > div:nth-child(3){
        width: 100%;
        position: relative;
        top:0;
        left:0;
      }
    }
  }
}
@media screen and (max-width:600px) {
  .label{
    
  }        
}
//social
.social {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  text-align: center;
  font-weight: 700;
  margin-top: 100px;
  margin-bottom: 50px;
  h1 {
    font-weight: 900;
    margin-bottom: 0.5em;
  }
  &__content {
    margin-bottom: 3em;
    .menu {
      display: flex;
      justify-content: space-around;
      width: 100%;
      margin: 0;
    }
    .menu div {
      width: fit-content;
    }
    .menu a {
      position: relative;
      display: block;
      overflow: hidden;
    }
    .menu a span {
      transition: transform 0.2s ease-out;
    }
    .menu a span:first-child {
      display: block;
      padding: 10px;
    }
    .menu a span:last-child {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateY(100%);
    }
    .menu a:hover span:first-child {
      transform: translateY(-100%);
    }
    .menu a:hover span:last-child,
    .menu[data-animation] a:hover span:last-child {
      transform: none;
    }
    .facebook {
      //color: #1778f2;
      color: white;
    }
    .youtube {
      //color: #ff0000;
      color: white;
    }
    .instagram {
      // background-image: linear-gradient(45deg, #f3ec78, #af4261);
      // background-size: 100%;
      // background-repeat: repeat;
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      // -moz-background-clip: text;
      // -moz-text-fill-color: transparent;
      color: white;
      //   background: #f09433;
      // background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
      // background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
      // background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
      // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    }
    div {
      width: 80px;
      height: 80px;
    }
  }
}

//partners
.partners {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  text-align: center;
  margin-bottom: 50px;
  h1 {
    font-weight: 900;
    margin-bottom: 0.5em;
  }
  &__content {
    margin-bottom: 3em;
    .menu {
      display: flex;
      justify-content: space-around;
      width: 100%;
      margin: 0;
    }
    .menu div {
      width: fit-content;
    }
    .menu a {
      position: relative;
      display: block;
      overflow: hidden;
      cursor: pointer;
      img {
        width: 80px;
      }
      .shutis-logo {
        width: 50px;
      }
    }
    .menu a span {
      transition: transform 0.2s ease-out;
    }
    .menu a span:first-child {
      display: block;
      padding: 10px;
    }
    .menu a span:last-child {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateY(100%);
    }
    .menu a:hover span:first-child {
      transform: translateY(-100%);
    }
    .menu a:hover span:last-child,
    .menu[data-animation] a:hover span:last-child {
      transform: none;
    }
    .facebook {
      //color: #1778f2;
      color: white;
    }
    .youtube {
      //color: #ff0000;
      color: white;
    }
    .instagram {
      // background-image: linear-gradient(45deg, #f3ec78, #af4261);
      // background-size: 100%;
      // background-repeat: repeat;
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      // -moz-background-clip: text;
      // -moz-text-fill-color: transparent;
      color: white;
      //   background: #f09433;
      // background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
      // background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
      // background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
      // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    }
    div {
      width: 80px;
      height: 80px;
    }
  }
}

//Intern css
.intern {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  margin-top: 100px;
  //position: relative;
  h1 {
    color: #ffffff;
    position: relative;
    top: 0;
    font-weight: 900;
  }
  &--content {
    margin-top: 2em;
  }
}
.box {
  &--holder {
    border-radius: 10px;
    margin: 0.5em;
    width: 20vw;
  }
}
.card {
  margin: 1em;
  box-shadow: 5px 12px 18px -6px rgba(0, 0, 0, 0.689);
  &__one {
    height: 15vh;
    background-color: rgb(224, 41, 99);
  }
  &__two {
    height: 45vh;
    background-color: rgb(55, 33, 224);
  }
  &__three {
    height: 45vh;
    background-color: purple;
  }
  &__img {
    width: 10vw;
    height: 25vh;
    margin-top: 1em;
    background-color: rgba(53, 50, 50, 0.5);
    border-radius: 5px;
  }
}

.gallery {
  z-index: 1000;
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
  }

  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background-color: white;
    padding: 20px 5px;
    width: 50px;
    color: $arrow;
    font-size: 2rem;
  }

  button span {
    position: relative;
    display: inline-block;
    transform: translateX(0);
    transition: transform 0.3s ease;
  }

  .previous:hover span {
    transform: translateX(-10px) scale(1.2);
  }

  .next:hover span {
    transform: translateX(10px) scale(1.2);
  }

  .slider-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .slider-nav li {
    display: flex;
    flex: 2;
    text-align: center;
  }

  img {
    max-width: 100%;
    display: none;
    box-shadow: 10px 10px 20px 0 rgba(94, 47, 59, 0.2);
  }

  img.active {
    display: block;
    animation: fadeImg 0.8s;
  }

  .slider-nav .arrow {
    flex: 0 0 15%;
  }

  .slider-nav a {
    flex-basis: 100%;
    display: flex;
    align-items: center;
  }

  .slider-nav span {
    display: block;
    width: 100%;
  }

  @keyframes fadeImg {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

.gallery2 {
  z-index: 1000;
  display: block;
  .slide-container {
    display: flex;
    flex-direction: column;
      width: 70%;
      margin: auto;
    }
  
    h3 {
      text-align: center;
    }
  
    .each-slide>div {
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      height: 300px;
    }
  
    .each-slide span {
      padding: 20px;
      font-size: 20px;
      background: #efefef;
      text-align: center;
    }
  
    .each-fade {
      display: flex;
    }
  
    .each-fade .image-container {
      width: 75%;
      overflow: hidden;
    }
  
    .each-fade .image-container img {
      width: 100%;
    }
  
    .each-fade h2 {
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      background: #adceed;
    }
  
    .indicator {
      width: 30px;
      color: blue;
      text-align: center;
      cursor: pointer;
      border: 1px blue solid;
    }
  
    .indicator.active {
      background: #000;
      color: #fff;
    }
}

.gallery3 {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  .gallery {
      display: flex;
      padding: 2px;
      transition: .3s;
  
      &:hover &__image {
        filter: grayscale(1);
      }
  
      &__column {
        display: flex;
        flex-direction: column;
        width: 25%;
      }
  
      &__link {
        margin: 2px;
        overflow: hidden;
  
        &:hover {
          .gallery__image {
            filter: grayscale(0);
          }
  
          .gallery__caption {
            opacity: 1;
          }
        }
      }
  
      &__thumb {
        position: relative;
      }
  
      &__image {
        display: block;
        width: 100%;
        transition: .3s;
  
        // &:hover {
        //   transform: scale(1.1);
        // }
      }
  
      &__caption {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 25px 15px 15px;
        width: 100%;
        font-family: 'Nunito', sans-serif;
        font-size: 16px;
        color: white;
        opacity: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%);
        transition: .3s;
      }
    }
}